<%include header.html %>
<div id = "classification_app" class="classification_list">
    <h4 style="padding-left: 40px;">现有分类</h4>
    <ul>
        <li v-for="classification in classification_list">{{classification}}</li>
    </ul>
    <div style="overflow: hidden;margin-bottom: 20px;">
        <input v-model="newTodo" class="form-item" style="width: 49%;display: inline-block;margin-left: 1%;">
        <button v-on:click="createClassfication" class="zl-btn zl-btn-success" style="display: inline-block;padding: 5px 12px;width: 49%;">新建</button>
    </div>
</div>
<script>
    var classification_list = <%- classification_list %>;
    var tmp = [];
    for(var i = 0; i < classification_list.length; ++i){
        tmp.push(classification_list[i].name);
    };
    var classification_app = new Vue({
        el: "#classification_app",
        data:{
            newTodo:'',
            classification_list:tmp
        },
        methods:{
            createClassfication:function(){
                var text = this.newTodo.trim();
                if(text){
                    console.log("new classification");
                    this.$http.post('/admin/create_classification/', {name:this.newTodo})
                            .then(function(res){
                                if(res.body == "success"){
                                    this.classification_list.push(text);
                                    this.newTodo = '';
                                }else{
                                    alert("创建失败");
                                }
                            },function(){
                               console.log("Create failed");
                            });

                }
            },
        }
    });
</script>
<%include footer.html%>
