<%include header.html %>
<div class="header" id="user_info">
    <ul class="horizontal-ul" style="cursor: pointer;">
        <li style="vertical-align: middle;" onclick="window.location.href='/'"><h2 style="margin: 0;padding: 0;">Blog</h2></li>
        <% if (user_inf_tag > 0){%>
        <li class="pull-right logout" onclick="window.location.href='/users/logout/'">登出</li>
        <li class="pull-right">&nbsp;</li>
        <li class="pull-right username" onclick="window.location.href='/users/index/'"><%= JSON.parse(user).username %></li>
        <% }else {%>
        <li class="pull-right username" onclick="window.location.href='/users/login/'">登录</li>
        <% } %>
    </ul>
</div>
<div class="menu">
    <ul class="horizontal-ul">
        <li>首页</li><li>专栏</li><li>专家</li><li>排行</li><li>我的</li>
    </ul>
</div>
<div class="content">
    <div class="row clearfix">
        <div class="col-sm-4" style="height: 300px;padding-right: 0;">
            <img src="http://img.blog.csdn.net/20170608143351943" width="100%" height="300px;">
        </div>
        <div class="col-sm-4" style="height: 300px;padding-right: 0;">
            <img src="http://img.blog.csdn.net/20170608143351943" width="100%" height="300px;">
        </div>
        <div class="col-sm-4 personal-info" style="height: 300px;">
            <div style="background: white;height: 300px;text-align: center;">
                <img alt="140x140" src="<%= JSON.parse(user).portrait %>" class="img-circle" style="margin-top: 20px;" height="140" width="140"/>
                <div style="text-align: left;padding: 15px 30px;">个人简介：<%= JSON.parse(user).description %></div>
                <!--<img alt="140x140" src="http://ibootstrap-file.b0.upaiyun.com/lorempixel.com/140/140/default.jpg" class="img-circle" style="margin-top: 20px;" />-->
                <!--<div style="text-align: left;padding: 15px 30px;">个人简介：主研方向 Android 和 JavaWeb，马不停蹄，追求卓越，钻研技术，热爱科技</div>-->
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-sm-8" style="padding-right: 0;" id="blog_list_app">
            <div class="col-sm-12 blog-item" v-for="blog in blog_list">
                <div class="row clearfix">
                    <div class="col-sm-3" style="text-align: center;line-height: 90px;">
                        <div><img alt="140x140" v-bind:src=blog.author_portrait class="img-circle" height="60" width="60"/>&nbsp;&nbsp;{{blog.author}}</div>
                    </div>
                    <div class="col-sm-9">
                        <div class = "blog-item-title"><a :href="getBlogUrl(blog._id)">{{blog.title}}</a></div>
                        <!--<div class = "blog-item-content">{{blog.content}}</div>-->
                    </div>
                </div>
            </div>
            <!--<div class="col-sm-12 blog-item">-->
                <!--<div class="row clearfix">-->
                    <!--<div class="col-sm-3" style="text-align: center;">-->
                        <!--<img alt="140x140" src="http://ibootstrap-file.b0.upaiyun.com/lorempixel.com/140/140/default.jpg" class="img-circle" style="margin-top: 50px;" height="60" width="60"/>-->
                        <!--<div>Author</div>-->
                    <!--</div>-->
                    <!--<div class="col-sm-9">-->
                        <!--<div class="blog-item-title"><a href="#1">Elasticsearch 5.4 Mapping详解</a></div>-->
                        <!--<div class = "blog-item-content">一、Field datatype(字段数据类型)1.1string类型ELasticsearch 5.X之后的字段类型不再支持string，由text或keyword取代。 如果仍使用string，会...-->
                            <!--Field datatype(字段数据类型)1.1string类型ELasticsearch 5.X之后的字段类型不再支持string，由text或keyword取代。 如果仍使用string，会...-->
                            <!--Field datatype(字段数据类型)1.1string类型ELasticsearch 5.X之后的字段类型不再支持string，由text或keyword取代。 如果仍使用string，会...-->
                            <!--Field datatype(字段数据类型)1.1string类型ELasticsearch 5.X之后的字段类型不再支持string，由text或keyword取代。 如果仍使用string，会...-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-sm-12 blog-item">-->
                <!--<div class="row clearfix">-->
                    <!--<div class="col-sm-3" style="text-align: center;">-->
                        <!--<img alt="140x140" src="http://ibootstrap-file.b0.upaiyun.com/lorempixel.com/140/140/default.jpg" class="img-circle" style="margin-top: 50px;" height="60" width="60"/>-->
                        <!--<div>Author</div>-->
                    <!--</div>-->
                    <!--<div class="col-sm-9">-->
                        <!--<div class="blog-item-title"><a href="#1">Elasticsearch 5.4 Mapping详解</a></div>-->
                        <!--<div class = "blog-item-content">一、Field datatype(字段数据类型)1.1string类型ELasticsearch 5.X之后的字段类型不再支持string，由text或keyword取代。 如果仍使用string，会...</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-sm-12 blog-item">-->
                <!--<div class="row clearfix">-->
                    <!--<div class="col-sm-3" style="text-align: center;">-->
                        <!--<img alt="140x140" src="http://ibootstrap-file.b0.upaiyun.com/lorempixel.com/140/140/default.jpg" class="img-circle" style="margin-top: 50px;" height="60" width="60"/>-->
                        <!--<div>Author</div>-->
                    <!--</div>-->
                    <!--<div class="col-sm-9">-->
                        <!--<div class="blog-item-title"><a href="#1">Elasticsearch 5.4 Mapping详解</a></div>-->
                        <!--<div class = "blog-item-content">一、Field datatype(字段数据类型)1.1string类型ELasticsearch 5.X之后的字段类型不再支持string，由text或keyword取代。 如果仍使用string，会...</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-sm-12 blog-item">-->
                <!--<div class="row clearfix">-->
                    <!--<div class="col-sm-3" style="text-align: center;">-->
                        <!--<img alt="140x140" src="http://ibootstrap-file.b0.upaiyun.com/lorempixel.com/140/140/default.jpg" class="img-circle" style="margin-top: 50px;" height="60" width="60"/>-->
                        <!--<div>Author</div>-->
                    <!--</div>-->
                    <!--<div class="col-sm-9">-->
                        <!--<div class="blog-item-title"><a href="#1">Elasticsearch 5.4 Mapping详解</a></div>-->
                        <!--<div class = "blog-item-content">一、Field datatype(字段数据类型)1.1string类型ELasticsearch 5.X之后的字段类型不再支持string，由text或keyword取代。 如果仍使用string，会...</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-sm-12 blog-item">-->
                <!--<div class="row clearfix">-->
                    <!--<div class="col-sm-3" style="text-align: center;">-->
                        <!--<img alt="140x140" src="http://ibootstrap-file.b0.upaiyun.com/lorempixel.com/140/140/default.jpg" class="img-circle" style="margin-top: 50px;" height="60" width="60"/>-->
                        <!--<div>Author</div>-->
                    <!--</div>-->
                    <!--<div class="col-sm-9">-->
                        <!--<div class="blog-item-title"><a href="#1">Elasticsearch 5.4 Mapping详解</a></div>-->
                        <!--<div class = "blog-item-content">一、Field datatype(字段数据类型)1.1string类型ELasticsearch 5.X之后的字段类型不再支持string，由text或keyword取代。 如果仍使用string，会...</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        </div>
        <div class="col-sm-4" style="margin-top: 10px;">
            <div class="blog-category" id="blog_category_app">
                <div class="clearfix row" style="margin-left: 0;">
                    <div class="col-sm-6" v-for="classification in classification_list">
                        {{classification}}
                    </div>
                </div>
            </div>
            <div class="contact-us">
                <div style="border-bottom: 1px solid #ebebeb;padding-bottom:10px;margin-bottom: 10px;">Contact US</div>
                <p>首页投稿</p>
                <p>官方博客</p>
                <p>联系客服：webmaster@csdn.net</p>
                <p>CSDN博客QQ群号：374041348</p>
            </div>
        </div>
    </div>
</div>

<script>
    var c_list = <%- classification_list %>;
    var tmp = [];
    for(var i = 0; i < c_list.length; ++i){
        tmp.push(c_list[i].name);
    }
    console.log(tmp);
    console.log(typeof tmp);
    var blog_category_app = new Vue({
        el:'#blog_category_app',
        data:{
           classification_list:tmp,
        },
        methods:{
        }
    });
</script>
<script>
    var blog_list = <%-blog_list%>;
    var blog_list_app = new Vue({
        el:"#blog_list_app",
        data:{

        },
        methods:{
            getBlogUrl:function(val){
                return "/blog/" + val;
            }
        }
    });
</script>
<%include footer.html%>
