<%include header.html %>
<div class="div_vertical_horizontal_center form-div">
    <div style="padding: 25px;" id="app">
        <form style="overflow: hidden;display: block;" onsubmit="return false;">
            <div class="group">
                <div class="col-md-12 danger" style="text-align: center;">{{message}}</div>
            </div>
            <div class = "group">
                <label for="username" class="col-sm-4">Username</label>
                <div class="col-sm-8">
                    <input type="text" id="username" class="form-item" v-model="username">
                </div>
            </div>
            <div class = "group">
                <label for="password" class="col-sm-4">Password</label>
                <div class="col-sm-8">
                    <input type="password" id="password" class="form-item" v-model="password">
                </div>
            </div>
            <div class = "group">
                <input type="submit" value="Login" class="zl-btn zl-btn-block zl-btn-success" v-on:click="login">
                <span style="text-align: right;display: block;margin-top: 5px;cursor: pointer;" v-on:click="register">register</span>
            </div>
        </form>
    </div>
</div>
<script>
    var app = new Vue({
        el:"#app",
        data:{
            message:'',
            username:'zhaolong',
            password:'111111',
            email:'email'
        },
        methods:{
            login:function(){
                if(this.username.replace(" ", "") == ""){
                    this.message = "Username please";
                    return false;
                }else if(this.password.replace(" ", "") == ""){
                    this.message = "Password please";
                    return false;
                }
                this.$http.post('/users/login/',
                    {username:this.username,password:this.password})
                    .then(function(res){
                        if(res.body=="success"){
                            this.message = "登录成功";
                            window.location.href='/';
                        }else{
                            this.message = "用户名或密码错误";
                        }
                    },function(){
                        this.message = "登录失败";
                        alert('请求失败处理'); //失败处理
                    });
            },
            register:function(){
                window.location.href='/users/register';
            }
        }
    });
</script>
<%include footer.html%>
