<%include header.html %>
<div class="header" id="user_info">
    <ul class="horizontal-ul" style="cursor: pointer;">
        <li style="vertical-align: middle;"><h2 style="margin: 0;padding: 0;">Blog</h2></li>
        <li class="pull-right logout" onclick="window.location.href='/users/logout/'">登出</li>
        <li class="pull-right">&nbsp;</li>
        <li class="pull-right username"><%= JSON.parse(user).username %></li>
    </ul>
</div>
<div class="personal-menu">
    <ul>
        <li class="active">列表</li>
        <li>信息</li>
    </ul>
</div>
<div class="content" id="blog_list">
    <div class="row clearfix">
        <div class="col-sm-12" style="padding-right: 0;">
            <div class="col-sm-12 personl-blog-item">
                <div class="col-sm-8">
                   <div class = "personl-blog-item-title"><a href="#">Elasticsearch 5.4 Mapping详解Elasticsearch 5.4 Mapping详解Elasticsearch 5.4 Mapping详解Elasticsearch 5.4 Mapping详解Elasticsearch 5.4 Mapping详解</a></div>
                </div>
                <div class="col-sm-4">
                   <div class = "personl-blog-item-time">2017-10-10 12:00:00</div>
                </div>
                <div class="col-sm-8">
                    <div class = "personl-blog-item-content">一、Field datatype(字段数据类型)1.1string类型ELasticsearch 5.X之后的字段类型不再支持string，由text或keyword取代。 如果仍使用string，会...</div>
                </div>
                <div class="col-sm-4">
                   <div class = "personl-blog-item-operation">
                       <button class="btn btn-success btn-sm">编辑</button>
                       <button class="btn btn-danger btn-sm">删除</button>
                   </div>
                </div>
            </div>
            <div class="col-sm-12 personl-blog-item">
                <div class="col-sm-8">
                   <div class = "personl-blog-item-title"><a href="#">Elasticsearch 5.4 Mapping详解Elasticsearch 5.4 Mapping详解Elasticsearch 5.4 Mapping详解Elasticsearch 5.4 Mapping详解Elasticsearch 5.4 Mapping详解</a></div>
                </div>
                <div class="col-sm-4">
                   <div class = "personl-blog-item-time">2017-10-10 12:00:00</div>
                </div>
                <div class="col-sm-8">
                    <div class = "personl-blog-item-content">一、Field datatype(字段数据类型)1.1string类型ELasticsearch 5.X之后的字段类型不再支持string，由text或keyword取代。 如果仍使用string，会...</div>
                </div>
                <div class="col-sm-4">
                   <div class = "personl-blog-item-operation">
                       <button class="btn btn-success btn-sm">编辑</button>
                       <button class="btn btn-danger btn-sm">删除</button>
                   </div>
                </div>
            </div>
            <div class="col-sm-12 personl-blog-item">
                <div class="col-sm-8">
                   <div class = "personl-blog-item-title"><a href="#">Elasticsearch 5.4 Mapping详解Elasticsearch 5.4 Mapping详解Elasticsearch 5.4 Mapping详解Elasticsearch 5.4 Mapping详解Elasticsearch 5.4 Mapping详解</a></div>
                </div>
                <div class="col-sm-4">
                   <div class = "personl-blog-item-time">2017-10-10 12:00:00</div>
                </div>
                <div class="col-sm-8">
                    <div class = "personl-blog-item-content">一、Field datatype(字段数据类型)1.1string类型ELasticsearch 5.X之后的字段类型不再支持string，由text或keyword取代。 如果仍使用string，会...</div>
                </div>
                <div class="col-sm-4">
                   <div class = "personl-blog-item-operation">
                       <button class="btn btn-success btn-sm">编辑</button>
                       <button class="btn btn-danger btn-sm">删除</button>
                   </div>
                </div>
            </div>
            <div class="col-sm-12 personl-blog-item">
                <div class="col-sm-8">
                   <div class = "personl-blog-item-title"><a href="#">Elasticsearch 5.4 Mapping详解Elasticsearch 5.4 Mapping详解Elasticsearch 5.4 Mapping详解Elasticsearch 5.4 Mapping详解Elasticsearch 5.4 Mapping详解</a></div>
                </div>
                <div class="col-sm-4">
                   <div class = "personl-blog-item-time">2017-10-10 12:00:00</div>
                </div>
                <div class="col-sm-8">
                    <div class = "personl-blog-item-content">一、Field datatype(字段数据类型)1.1string类型ELasticsearch 5.X之后的字段类型不再支持string，由text或keyword取代。 如果仍使用string，会...</div>
                </div>
                <div class="col-sm-4">
                   <div class = "personl-blog-item-operation">
                       <button class="btn btn-success btn-sm">编辑</button>
                       <button class="btn btn-danger btn-sm">删除</button>
                   </div>
                </div>
            </div>
            <div class="col-sm-12 personl-blog-item">
                <div class="col-sm-8">
                   <div class = "personl-blog-item-title"><a href="#">Elasticsearch 5.4 Mapping详解Elasticsearch 5.4 Mapping详解Elasticsearch 5.4 Mapping详解Elasticsearch 5.4 Mapping详解Elasticsearch 5.4 Mapping详解</a></div>
                </div>
                <div class="col-sm-4">
                   <div class = "personl-blog-item-time">2017-10-10 12:00:00</div>
                </div>
                <div class="col-sm-8">
                    <div class = "personl-blog-item-content">一、Field datatype(字段数据类型)1.1string类型ELasticsearch 5.X之后的字段类型不再支持string，由text或keyword取代。 如果仍使用string，会...</div>
                </div>
                <div class="col-sm-4">
                   <div class = "personl-blog-item-operation">
                       <button class="btn btn-success btn-sm">编辑</button>
                       <button class="btn btn-danger btn-sm">删除</button>
                   </div>
                </div>
            </div>
            <div class="col-sm-12 personl-blog-item">
                <div class="col-sm-8">
                   <div class = "personl-blog-item-title"><a href="#">Elasticsearch 5.4 Mapping详解Elasticsearch 5.4 Mapping详解Elasticsearch 5.4 Mapping详解Elasticsearch 5.4 Mapping详解Elasticsearch 5.4 Mapping详解</a></div>
                </div>
                <div class="col-sm-4">
                   <div class = "personl-blog-item-time">2017-10-10 12:00:00</div>
                </div>
                <div class="col-sm-8">
                    <div class = "personl-blog-item-content">一、Field datatype(字段数据类型)1.1string类型ELasticsearch 5.X之后的字段类型不再支持string，由text或keyword取代。 如果仍使用string，会...</div>
                </div>
                <div class="col-sm-4">
                   <div class = "personl-blog-item-operation">
                       <button class="btn btn-success btn-sm">编辑</button>
                       <button class="btn btn-danger btn-sm">删除</button>
                   </div>
                </div>
            </div>
            <div class="col-sm-12 personl-blog-item" v-for="blog in blog_list">
                <div class="col-sm-8">
                   <div class = "personl-blog-item-title"><a href="#">{{blog.title}}</a></div>
                </div>
                <div class="col-sm-4">
                   <div class = "personl-blog-item-time">{{blog.date}}</div>
                </div>
                <div class="col-sm-8">
                    <div class = "personl-blog-item-content" v-html="blog.content"></div>
                </div>
                <div class="col-sm-4">
                   <div class = "personl-blog-item-operation">
                       <button class="btn btn-success btn-sm">编辑</button>
                       <button class="btn btn-danger btn-sm">删除</button>
                   </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <button class="zl-btn zl-btn-success zl-btn-block" v-on:click="addBlog">新建</button>
    </div>
</div>

<script>
    var blog_list = <%-blog_list%>;
    var blog_list_app = new Vue({
        el:"#blog_list",
        data:{
            blog_list:blog_list,
        },
        methods:{
            addBlog:function(){
                window.location.href='/users/personal_add_blog/';
            }
        }
    });
</script>
<%include footer.html%>
